ParsingStackoverflowRU/bin/
ParsingStackoverflowRU/obj/
ParsingStackoverflowRU.Tests/bin/
ParsingStackoverflowRU.Tests/obj/
.idea/
.vs/
*.user
publish/
convert.tests/bin/
convert.tests/obj/
convert/bin/
convert/obj/
packages/
